@import url(/styles/design-tokens/global-colors.css);
/* TYPOGRAPH */
.text-caption{
 font-size: 12px;
 font-weight: 75;
 color: var(--lds-text-secondary);
}
.light{


}

.dark{
    --lds-surface-hovered: rgba(213,199,255,0.16);
    --lds-surface-primary: rgba(213,199,255,0.1);
    --lds-surface-secondary: rgba(239,234,255,0.2);
    --lds-surface-tertiary: var(--lds-gray-dark-400);

    --lds-text-accent: var(--lds-lime-500);
    --lds-text-primary: #FFFFFF;
    --lds-text-button: #100651;
    --lds-text-secondary: #BBBBDF;
    --lds-text-tertiary: #61618C;

    --lds-background-accent: var(--lds-lime-500);
    --lds-background-disabled: var(--lds-gray-dark-600);
    --lds-background-page: var(--lds-gray-dark-200);
    --lds-background-secondary: #444476;

    --lds-border-color-default: rgba(3,2,4,0.16);
    --lds-border-color-accent: var(--lds-lime-500);
}